    body {
        margin: 0rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: black;
    }

    .main {
        background-color: #fff;
        padding: 2rem;
        text-align: center;
        margin-left: 15rem;
        margin-right: 15rem;
        margin-top: 10rem;
        margin-bottom: 3rem;
        font-family: "Gentium Basic", serif;
        box-sizing: border-box;

    }

    section.img {
        margin-left: 15rem;
        margin-right: 15rem;
        padding: 0px;
    }

    h1,
    h2,
    h3,
    p {
        margin-bottom: .5rem;
        font-weight: 500;
        line-height: 1.2;
    }

    li.interest {

        padding-top: .6rem;
        padding-bottom: .7rem;
        list-style: none
    }

  



    section {
        color: #14ffec;
        text-align: center;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-left: 40rem;
        margin-right: 40rem;
        margin-top: 6rem;
        margin-bottom: 6rem;
        font-family: "Gentium Basic", serif;
        font-size: 1.8rem;

    }

    footer {
        color: #14ffec;
        background-color: black;
        padding-left: 2rem;
        padding-right: 2rem;
        margin-top: 4rem;
        margin-bottom: 3rem;
        margin-left: 45rem;
        margin-right: 45rem;
        font-family: cursive;



    }

    html {
        font-size: 62.5%;
        /* 1 rem=10px
          16px=100%
          10px=62.5% */
    }

    @media (max-width:500px) {
        html {
            font-size: 60%;
        }
    }

    @media (min-width:500px),
    (max-width:900px) {
        html {
            font-size: 70%;
        }
    }


    header {
        padding: 4rem;
        background-color: rgb(17, 124, 143);
    }

    header h1 {
        text-align: center;
        font-size: 4rem;
        color: #fff;
    }

    nav {
        text-align: center;
        background-color: #333;
        overflow: hidden;

    }

    nav a {
        text-decoration: none;
        padding: 1.5rem 5rem;
        text-align: center;
        float: left;
        color: whitesmoke;

    }

    nav a:hover {
        color: rebeccapurple;
    }